{% extends "homepage.html" %}
{% block content %}

<div class="user">
{{ KNOWL_INC('users.' + userid|lower + '.note') }}
</div>

<div id="index-boxes" class="grid12">
  {% for box in boxes %}
  <table class="box col-l-6">
    <tr vertical-align="top">
      <td class="img" rowspan="3" vertical-align="top">
        <img src="{{ box.img }}">
      </td>
      <td class="title">
        {{ box.title }}
      </td>
    </tr>
    <tr>
      <td class="content">
        {{ box.content|safe }}
      </td>
    </tr>
  </table>
  {% endfor %}
</div>

{% endblock %}
