<div id="navbar">
<div class="horizontal-container">
<div class="flex-container">

    <div class="logo"><a href="/">
{% if BETA %}
    <img src="{{ url_for('static', filename='images/lmfdb-logo-beta.png') }}" />
{% else %}
    <img src="{{ url_for('static', filename='images/lmfdb-logo.png') }}" />
{% endif %}
    </a></div><!-- {# These comments prevent white space between the buttons of the menu.
                      Alternatively we could set font-size: 0 in #navbar, however
                      this doesn't seem like a clean solution, especially with respect
                      to how the unit em behaves.
                    #}


{%- for dropdown in navbar.dropdowns_constraint[BETA, user_is_authenticated] -%}
{# TODO: use user_is_authenticated and BETA when catching the dropdowns#}

{#- if BETA or not dropdown.only_in_beta -#}{# an entire section may be omitted e.g. Motives #}
{# if user_is_authenticated or BETA or not dropdown.requires_auth_or_beta #}
{#- if not (BETA and dropdown_requires_not_beta) -#}

--><div class="dropdown">

  <button class="hover-available dropbtn {{dropdown.heading.css_classes | safe}}">
    {% if dropdown.heading.is_link %}
      <a class="heading {{dropdown.heading.css_classes | safe}}" href="{{dropdown.heading.url | safe}}">{{dropdown.heading.title | safe}}</a>
    {% else %}
      <div class="heading {{dropdown.heading.css_classes | safe}}">{{dropdown.heading.title | safe}}</div>
    {% endif %}
  </button>
  <button class="no-hover-available dropbtn {{dropdown.heading.css_classes | safe}}" onclick="toggleDropdown(this)">
      <a class="heading {{dropdown.heading.css_classes | safe}}">{{dropdown.heading.title | safe}}</a>
  </button>


  <div class="dropdown-content {{dropdown.heading.css_classes | safe}}">
  {%- for group in dropdown.groups -%}
    {% if group.is_link %}
      <a class="group-title {{group.css_classes | safe}}" href="{{group.url | safe}}">{{group.title | safe}}</a>
    {% else %}
      <div class="group-title {{group.css_classes | safe}}">{{group.title | safe}}</div>
    {% endif %}
    
    
    {%- for part in group.parts -%}
        
      {%- if part.is_link_bar -%}
            
        {% if part.is_link %}
          <a class="link-bar-title {{part.css_classes | safe}}" href="{{part.url | safe}}">{{part.title | safe}}</a>
        {% else %}
          <div class="link-bar-title {{part.css_classes | safe}}">{{part.title | safe}}</div>
        {% endif %}

        <table class="link-bar {{part.css_classes | safe}}"><tr>
        {%- for entry in part.entries -%}
          <td width="auto" align="center">
          {% if entry.is_link %}
            <a class="entry {{entry.css_classes | safe}}" href="{{entry.url | safe}}">{{entry.title | safe}}</a>
          {% else %}
            <div class="entry {{entry.css_classes | safe}}">{{entry.title | safe}}</div>
          {% endif %}
          </td>
        {%- endfor -%} {# for entry in entries #}
        </tr></table>
        
      {%- else -%} {# if part.is_link_bar #}
        
        {% if part.is_link %}
          <a class="part {{part.css_classes | safe}}" href="{{part.url | safe}}">{{part.title | safe}}</a>
        {% else %}
          <div class="part {{part.css_classes | safe}}">{{part.title | safe}}</div>
        {% endif %}
    
      {%- endif -%} {# if part.is_link_bar #}
    
    {%- endfor -%} {# part in group.parts #}
    
  {%- endfor -%} {# groups in dropdown.groups #}
  </div> {# end dropdown-content #}
</div><!-- {# end dropdown #}

{#- endif -#} {# if not (BETA and dropdown_requires_not_beta) #}
{#- endif -#} {# if user_is_authenticated or BETA or not dropdown.requires_auth_or_beta #}
{#- endif -#} {# if BETA or not dropdown.only_in_beta #}

{%- endfor -%} {# for key, heading, value in navbar.data #}


-->
</div> {# end flex-container #}
</div> {# end horizontal-container #}
</div> {# end navbar #}



<script>

var firstDropdownToggle = true;

function adjustLocationOfDropdownContent(content) {
  // Determine the location of the edges of the dropdown content:
  var prefer_left_to_right = false; //true doesn't work yet, perhaps because css doesn't update during this function?

  if (prefer_left_to_right) {
    dropdown.classList.remove("dropdown-content-right-to-left");
    dropdown.classList.add("dropdown-content-left-to-right");
  }
  
  //console.log("handle resize");
  var left = 0;
  var node = content;
  while (node) {
    //console.log(node);
    //console.log(node.offsetLeft);
    left += node.offsetLeft;
    node = node.offsetParent;
  }
  right = left + content.offsetWidth;
  //console.log(left);
  //console.log(right);
  var dropdown = content; //content.parentElement;

  if (prefer_left_to_right) {
    if (right > document.body.clientWidth) {
      dropdown.classList.remove("dropdown-content-left-to-right");
      dropdown.classList.add("dropdown-content-right-to-left");
    }
  } else {
    //Only switch sides of dropdown-content if necessary:
    if (left < 0) {
      dropdown.classList.remove("dropdown-content-right-to-left");
      dropdown.classList.add("dropdown-content-left-to-right");
    }
    else if (right > document.body.clientWidth) {
      dropdown.classList.remove("dropdown-content-left-to-right");
      dropdown.classList.add("dropdown-content-right-to-left");
    }
  }

}

function onDropButtonHover(event) {
    //console.log(event);
    var content = event.target.parentElement.lastElementChild;
    adjustLocationOfDropdownContent(content);
}

function init_navbar() {
  //console.log("loaded");
  var buttons = document.getElementsByClassName("dropbtn");
  var i;
  for (i = 0; i < buttons.length; i++) {
    //console.log(buttons[i]);
    buttons[i].addEventListener("mouseenter",onDropButtonHover);    
  }  
}

window.addEventListener("load",init_navbar);

function toggleDropdown(button) {
  if (firstDropdownToggle) {
    firstDropdownToggle = false;
    // We arrive here only there is no hovering available.
    // Close the dropdown automatically if the user clicks outside of it:
    //window.onclick = function(event) {
    window.addEventListener("click", function(event) {
      //console.log(event.target)
      if (!event.target.matches('.dropbtn') && 
          !event.target.matches('.heading')) {
        closeAllDropdowns();
      }
    });
  }
  //console.log(button);
  content = button.parentElement.lastElementChild
  //console.log(content)
  currentlyClosed = content.style.display != "block";
  closeAllDropdowns();
  if (currentlyClosed)
    content.style.display = "block";
    adjustLocationOfDropdownContent(content);  
}

function closeAllDropdowns() {
  // We should arrive here only if we don't use hovering in the menu,
  // as the following fill break the hovering functionality of the dropdowns.
  var contents = document.getElementsByClassName("dropdown-content");
  var i;
  for (i = 0; i < contents.length; i++)
    contents[i].style.display = "none";
}

function adjustDropdownsHorizontally() {
  var contents = document.getElementsByClassName("dropdown-content");
  //console.log(contents);
  var i;
  for (i = 0; i < contents.length; i++) {
    var rect = contents[i].getBoundingClientRect();
    //console.log(rect.top, rect.right, rect.bottom, rect.left);
    //console.log(contents[i]);
    //contents[i].style.display = "none";
    if (contents[i].style.left < 0)
      contents[i].style.left = 0;
  }
}

/*
function adjustLocationOfAllDropdownContents() {
  var contents = document.getElementsByClassName("dropdown-content");
  console.log(contents);
  var i;
  for (i = 0; i < contents.length; i++) {
    adjustLocationOfDropdownContent(contents[i]);
  }
}

window.addEventListener("resize",adjustLocationOfAllDropdownContents);
window.addEventListener("load",adjustLocationOfAllDropdownContents);
*/
</script>

