t{# template defs #}

{%- macro BORDER_RADIUS(R) -%}
  border-radius: {{R}}px;
{%- endmacro -%}

{# end defs #}

/********************** Fonts *****************************************/

/*JV's preference*/
:root {
/*
  --main-font-family: sans-serif;
*/
}

/*BM's preference:*/

:root {
  --main-font-family: Georgia, 'Bitstream Charter', serif; 
  /*--main-font-family: 'Times New Roman', 'Times', serif; */
  --control-font-family: Arial, sans-serif;
}

:root {
  font-size: 15px;
}


* { zoom: 0; }

img { border: 0; }

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font-family);
    color: {{color.body_text}};
    background-color: {{color.body_background}};
}
td.title {
    color: {{color.box_tab_text}};
}
h2.link > a {
    color: {{color.box_tab_text}};
}
.katex {
    font-size: 1em !important;
}

/* Bound the width of the page content */
.horizontal-container {
    max-width: 1100px; 
    /*max-width: 1280px;*/
    margin: auto; /* means center */
    /*border: 3px solid black; debug */
    padding: 0px 10px; /* needed for small screens */
}

/********************* content (in homepage.html) *********************/

#content  h1
{
    /*font-size: 130%;
    font-weight: bold;*/
    font-size: 170%;
    font-weight: normal;
    color: {{ color.content_text }};
    font-family: var(--main-font-family);
    text-decoration: none;
    margin: 20px 0 15px 0;
}
#content > h1:first-child,
#content > h2:first-child {
    margin-top: 0px;
}

#content  h2
{
    font-family: var(--main-font-family);
    text-decoration: none;
    font-size: 150%;
    text-align: left;
    font-weight: normal;
    color: {{color.a_text}};
    padding: 5px 0 5px 0;
    margin: 25px 0 10px 0;
}
#content  h3, 
td.table_h2 {
    font-family: var(--main-font-family);
    text-decoration: none;
    font-size: 130%;
    text-align: left;
    font-weight: normal;
    padding: 5px 0 5px 0;
    color: {{color.a_text}};
    margin: 15px 0 5px 0;
}

#content  h4 {
    font-family: var(--main-font-family);
    text-decoration: none;
    font-size: 110%;
    text-align: left;
    font-weight: normal;
    padding: 5px 0 5px 0;
    color: {{color.a_text}};
    margin: 15px 0 5px 0;
}

#content > h2 a[knowl], 
#content > h3 a[knowl], 
#content > h4 a[knowl] {
    color: {{color.col_main}};
}

#content p {
  padding-left: 1ch;
}

#content ul {
  padding-left: 1.7em;
}

#content  h2.inline,
#content  h3.inline,
#content  h4.inline {
    font-weight: normal;
    display: inline;
    padding-right: 10px;
    margin: 5px 0 10px 0;
}

#content > ul {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Body links, sidebar links, and sidebar header text. */
a {
    color: {{color.col_link}};
    text-decoration: none;
    font-family: var(--main-font-family);
}

a[knowl] {
    color: {{color.col_a_knowl}};
}

a.inactive {
    color: {{color.a_inactive}};
}

a.inactive:hover {
    background: inherit;
}

table tbody tr.trivial {
    color: {{color.grey}};
}

table tbody tr.trivial a {
    color: {{color.grey}};
}
table tbody tr.trivial a:hover {
    color: inherit;
    background: inherit;
}

#content a {
}
#content .announce {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 20px 0px;
  border-left: 3px solid {{ color.content_border }};
  background: {{ color.content_background }};
  line-height: 1.5em;
}
#content .announce.red {
    border-left: 3px solid {{color.content_border_red}};
    background: {{color.content_background_red}};
}

/*
#search-topright {
  display: inline;
}
#search-topright input {
  font-size: 75%;
  border: 1px solid {{ color.search_border }};
  padding: 1px;
  background: {{color.search_background}} ;
  position: relative;
  top: -1px;
}
*/

/* icon in front of external links */
#content a[target="_blank"]:before {
  content: url("static/images/url-ext.gif");
  padding-right: 2px;
}

body.checklist {
 font-size: 70%;
}

span.disable-links {
  pointer-events: none;
}

a:visited { color: {{color.a_text_visited}}; }
a:hover {
    color: {{color.a_text_hover}};
    background: {{color.a_background_hover}};
}




/* TODO: what? */
#flashes p {
  border-left: 15px solid {{color.knowl_border}};
  padding: 5px;
  background: {{color.knowl_background}};
}

#flashes p.error {
  margin: 15px 0;
  font-size: 95%;
  border: 0;
  border-left: 15px solid {{color.flashes_border}};
  background: {{color.flashes_background}};
}

#main {
  margin:  0px 0px 0px 0px;
  /*padding: 0px 0px 0px 10px;*/
  padding: 0px;
  min-height: 45em;
}

.debug {
    background: #FF9;
    font-style: italic;
}

body > .debug {
    margin: 20px;
    padding: 2px;
}


/********** Property boxes (on right hand side) ***********************/

#properties {
    z-index: 99;
    font-size: 85%;
    font-family: var(--main-font-family);
    float: right;
    clear: right;
    margin: 10px 0px 20px 20px;
    position: relative;
    border: 1px solid {{color.properties_border}};
    border: 0;
    padding: 0px;
}
.properties-body div, 
.properties-body p {
  padding: 5px;
}
.properties-body h1, 
.properties-body h2 {
    color: {{ color.properties_header_text }};
    padding: 5px;
    margin: 0;
    margin-bottom: 0;
    background: {{ color.properties_text_h1h2 }};
}
.properties-body h1 {
    font-size: 120%;
}
.properties-body h2 {
    font-size: 110%;
    margin-top: 10px;
}
.properties-body h2:first-child { 
  margin-top: 0px; 
}
.properties-body table th,
.properties-body table td {
  padding: 2px 10px;
}
.properties-body table tr:last-child td {
  padding-bottom: 7px;
}
.properties-body table tr:first-child td {
  padding-top: 7px;
}
.properties-body .label {
  /*font-weight: bold;*/
}
.properties-body ul {
  margin: 0px;
  padding: 0px;
}

.properties-body ul:last-child li:last-child a {
  border-bottom-left-radius: 10px;
}
.properties-body li {
  display: block;
  padding: 5px 0 0 7px;
  margin: 0;
}
.properties-body li:first-child {
  padding-top: 7px;
}
.properties-body li:last-child {
  padding-bottom: 5px;
}
.properties-body li a {
 display: block;
/*
 padding: 5px;
*/
}

.properties-body {
  margin: 0px;
  padding: 0px;
  background: {{color.properties_body_background}};
  min-width: 200px;
  border-bottom-left-radius: 10px;
  max-height: 430px; /* 21 items with padding: 22 + 21*19 + 9 */
  overflow-y: auto; /* scrollbar if we overflow */
}
.properties-header {
  border-top-left-radius: 10px;
  margin: 0;
  margin-top: 10px;
  padding: 10px 15px;
  color: {{ color.properties_header_text }};
  background: {{ color.properties_header_background }};
  font-size: 120%;
  font-weight: normal;
  cursor: pointer;
  padding-right: 30px;
}
#properties-collapser {
  cursor: pointer;
  color: {{ color.properties_collapser }};
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border: 1px solid ;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top:   1em;
  right: 0.8em;
  {{ BORDER_RADIUS(20) }}
}

#content {
  margin-top: 20px;
  font-size: 95%;
  line-height: 135%;
  padding-right: 10px;
}

#content blockquote
{
}


.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.code {
    font-family: monospace;
    margin: 2px;
    margin-right: 20px;
}

.nodisplay {
    display: None;
}
/*TODO: where do the following show up?*/
.formexample {
   font-size: 80%;
   font-style: italic;
   color: {{color.grey}};
}

.errmsg {
   font-size: 80%;
   font-style: bold;
   color: {{color.red}};
}

td.forminfo {
   font-size: 80%;
   font-style: italic;
   color: #333333;
   vertical-align: top;
}

input, textarea {
  border: 1px solid {{color.input_border}};
  font-size: 110%;
  padding: 3px;
  border-radius: 5px;
}

/* TODO: above? */

button, 
select {
  font-size: 1em;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid {{color.button_border}};
  min-width: 75px;
}

button {
   background: {{color.button_background}};
}

select {
   background: {{color.select_background}};
}

body.knowl form button,
body.knowl form select {
  border: 1px solid {{color.knowl_thin_border}};
  background: {{color.knowl_border}};
}
body.knowl form textarea,
body.knowl form input {
    border: 1px solid {{color.knowl_thin_border}};
}

form button:hover,
form select:hover {
    background:    {{color.button_background_hover}};
    border: 1px solid {{color.button_border_hover}};
}

button.inactive {
    background: {{color.button_background_inactive}};
    border: 1px solid {{color.button_border_inactive}};
}

button.inactive:hover {
    background: {{color.button_background_inactive}};
    border: 1px solid {{color.button_border_inactive}};
}

/* HGCWA */
.tab button.active {
    background-color: {{color.col_main_ll}}; <!-- col_main_ll -->
}

body.knowl form button:hover,
body.knowl form select:hover {
    background:    {{color.knowl_hover}};
    border: 1px solid {{color.knowl_thin_border}};
}

form table td.button {
    padding-top: 7px
}

table {
    border: 0;
    border-collapse:collapse;
}

table th {
  color: {{color.a_text}};
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 120%;
  line-height: 130%;
}

table th, table td {
  padding-left:  10px;
  padding-right: 10px;
}

table.newforms {
/* to put a table after the properties box */
    clear: right;
}

table.ntdata .knowl-header a,
table.ntdata .knowl-footer a,
table.ntdata a.knowl-link,
table.ntdata a[knowl],
table a.knowl-link,
table a[knowl] {
  display: inline;
  padding: 0;
}

table.ntdata a {
  display: block;
}

table.chardata a {
  display: inline;
}

table td.top {
  vertical-align:top;
}
table.ntdata td {
  white-space: nowrap;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

table a:hover {
    background: {{color.table_background_hover}};
}



table td.spacing {
  height: 20px;
}


table.ntdata {
  width: auto;
  border: 0.2em;
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
table.ntdata thead th {
  background: {{ color.table_ntdata_background }};
}
table.ntdata > thead {
  border-bottom: 1px solid {{ color.table_ntdata_border }};
}
table.ntdata > thead > tr.bottomlined {
  border-bottom: 1px solid {{ color.table_ntdata_border }};
}

table.ntdata th {
  text-align: left;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

table.ntdata > tr.odd,
table.ntdata > tbody > tr.odd,
table.ntdata > thead > tr.odd,
table.ntdata > tr:nth-child(odd),
table.ntdata > tbody > tr:nth-child(odd),
table.ntdata > thead > tr:nth-child(odd),
table.ntdata > tr:first-child
table.ntdata > tbody > tr:first-child
table.ntdata > thead > tr:first-child {
    background: {{color.table_ntdata_background_c1}};
}

table.ntdata > tbody > tr:last-child {
    border-bottom:  1px solid {{ color.table_ntdata_border }};
}

table.ntdata > tr.even,
table.ntdata > tbody > tr.even,
table.ntdata > thead > tr.even,
table.ntdata > tr:nth-child(even),
table.ntdata > tbody > tr:nth-child(even),
table.ntdata > thead > tr:nth-child(even) {
    background: {{color.table_ntdata_background_cn}};
}
table.ntdata tr.toggle { font-size: 80%; text-align: left; }
table.ntdata tr.toggle:nth-child(2n) { 
    background: {{color.table_ntdata_background_c1}};
}
table.ntdata tr.toggle a:hover {
  background: {{color.table_ntdata_background_c1}};
}

table.ntdata tr.line {
    border-bottom: 1px dotted {{color.table_ntdata_border_bottom}};
}
table.ntdata tr.endsection {
    border-bottom: 1px solid {{color.table_ntdata_border}};
}

table.right_align_table td {
  text-align: right;
}




table.number_table td
{
text-align:right;
border:0px;
cellpadding:3px;

}


table.number_table {border-collapse:collapse;}

table.number_table tr:nth-child(even) {
    background: {{color.table_ntdata_background_cn}};
}

table.number_table thead th {
  border-bottom: 2px solid {{ color.table_ntdata_border }};
}

table.number_table thead th:first-child{
border-right: 2px solid {{ color.table_ntdata_border }};
}

table.number_table tbody th  {
  border-right: 2px solid {{ color.table_ntdata_border }};
}


/* TODO: where? */
div.literature {
    margin-top: 10px;
    font-size: 90%;
    color: {{color.black}};
}

div.where {
    margin: 10px 0 10px 0;
}

.emph {
    font-style: italic;
}

.redhighlight {
    color: {{color.grey}};
}

.bluehighlight {
  color: blue;
}

.positivezero {
    color: {{color.black}};
}


.highlight {
  /* text-decoration: underline; */
  font-weight: bold;
}

/******************** Knowls ******************************************/

/** page wide defs for knowls, the *[knowl] is a selector for
 *  all elements, that have a knowl attribute set to any value */
table .knowl-link {
  display: inline;
  border-bottom: 1px dotted {{ color.knowl_hyper_text }};
  border-radius: 0px;
  padding: 1px;
}
.knowl-bar {
  white-space: nowrap;
  background: {{ color.knowl_background}};
  padding: 5px 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid {{ color.knowl_thin_border }};
  border-top-left-radius: 10px;
}
.knowl-bar button,
.knowl-bar input,
.knowl-bar form {
  font-size: small;
  display: inline;
  margin: 0px 2px;
}
#knowl-search input {
  font-size: small;
  background: {{ color.knowl_background }};
}
.knowl-bar a {
  padding: 2px 5px;
}
.knowl-editmode-sep {
  padding: 5px;
  margin: 30px 0;
  border-bottom: 1px solid {{ color.knowl_thin_border }};
  background: {{ color.knowl_background}};
  color: {{ color.knowl_hyper_text }};
  font-weight: bold;
}
.knowl-inc-edit {
  margin-bottom: 10px;
  border-bottom: 2px solid {{ color.knowl_border}};
  font-size: x-small;
  text-align: right;
  line-height: 100%;
}
.knowl-inc-edit a {
  padding: 3px 5px 0px 5px;
  background: {{ color.knowl_l_1 }};
  border-top-left-radius: 5px;
}
.knowl {
  padding: 0;
}
/* knowl-index is the big table on the main knowledge page */
#knowl-index td div > a {
  padding: 0px;
  position: absolute;
  top: 12px;
  width: 170px;
  height: 65px;
  overflow: hidden;
  /*max-lines: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;*/
  text-overflow: ellipsis;
}
#knowl-index td div > span {
  font-size: xx-small;
  color: {{color.grey}};
  position: absolute;
  top: 2px;
  line-height: 1em;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#knowl-index td div {
  position: relative;
  /*display: inline;*/
  width: 170px;
  height: 70px;
  float: left;
  min-height: 4em;
  padding: 2px;
  margin: 1px;
  border-radius: 2px;
}
#knowl-index td div:hover {
  background: {{ color.knowl_hover }};
  cursor: pointer;
}
#knowl-index td {
  padding: 0;
}
#knowl-index tr td:first-child {
  width: 50px;
  vertical-align: top;
  text-align: center;
  font-size: x-large;
  color: {{color.knowl_hyper_text}};
  padding-top: 12px;
}
body.knowl table.ntdata thead tr {
  background: {{ color.knowl_background }};
  border-bottom: 2px solid {{ color.knowl_underline }};
}
body.knowl table.ntdata tr:nth-child(odd) {
 background: {{ color.knowl_background }};
}
body.knowl table.ntdata tr:nth-child(even) {
    background: {{color.white}};
}


table.mfdata {
  width: auto;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
table.mfdata thead tr {
  border-bottom: 2px solid {{ color.table_ntdata_border }};
}

table.mfdata td {
    vertical-align: middle;
}

table.mfdata tr.oddrow {
    background: {{color.table_ntdata_background_2}};
}
table.mfdata tr.evenrow {
    background: {{color.white}};
}

table.dimgrid thead tr {
    background: {{color.table_ntdata_background_2}};
    border-bottom: 2px solid {{ color.table_ntdata_border }};
}
table.dimgrid thead tr th.blank {
    background: {{color.white}};
    border-bottom: 2px solid {{color.table_ntdata_background_2}} ;
}
table.dimgrid tbody tr th.left {
    border-right: 2px solid {{ color.table_ntdata_border }};
    background: {{color.table_ntdata_background_2}};
}

table.ntdata th.left {
    border-right: 2px solid {{color.table_ntdata_border}};
    background: {{color.table_ntdata_background_2}};
    border-bottom: 0;
    text-align: center;
}

table.ntdata th.weight {
  text-align: center;
  background: {{color.table_ntdata_background_2}};
  border-bottom: 2px solid {{color.table_ntdata_border}};
  border-left: 0;
  vertical-align: center;
}

table.ntdata thead tr.space {
  background: {{color.table_ntdata_background_2}};
  border-bottom: 0;
}

table.ntdata thead th.spaceleft {
  border-right: 2px solid {{color.table_ntdata_border}};
  vertical-align: top;
}

table.ntdata tr.first {
  border-top: 2px solid {{color.table_ntdata_border}};
}
table.ntdata .border-right {
  border-right: 2px solid {{ color.table_ntdata_border }};
}
table.ntdata .border-bottom {
  border-bottom: 2px solid {{ color.table_ntdata_border }};
}
table.ntdata .center {
    text-align: center;
}
div.center {
    text-align: center;
}
table.ntdata .right {
    text-align: right;
}
td.right {
    text-align: right;
}
table.ntdata .middle {
    vertical-align: middle;
}

table.ntdata tr.dark td {
    background: {{color.table_ntdata_background_2}};
}
table.ntdata tr.light td {
    background: white;
}
table.ntdata td.dark {
    background: {{color.table_ntdata_background_2}};
}
table.ntdata thead.dark tr {
    background: {{color.table_ntdata_background_2}};
}
table.ntdata td.light {
    background: white;
}

table.knowl_review tr:nth-child(odd) td {
    background: {{color.white}};
    padding-top: 30px;
}
table.knowl_review tr:first-child td {
    padding-top: 0;
}
table.knowl_review tr:nth-child(even) {
    background: {{ color.table_ntdata_background_2 }};
}
table.euler {
    margin-left:auto;
    margin-right:auto;
}

table.euler tr .galois {
    text-align: center;
}

table.statgrid td {
    text-align: right;
}

table.statgrid th.rhead {
    border: 1px solid #ccc;
    border-right: 2px solid {{color.table_ntdata_border}};
}
table.statgrid th.chead {
    border: 1px solid #ccc;
    border-bottom: 2px solid {{color.table_ntdata_border}};
}
table.statgrid td.prop {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.statgrid td.cnt {
    border-right: 1px solid #ccc;
}

.knowl-content {
  padding: 0 10px;
}
.knowl-content h1 {
  margin: 0px 0px 10px 0px;
}
.knowl-content h2 {
  margin: 0px 0px 5px 0px;
}

*[knowl] {
  border-bottom: 1px dotted {{ color.knowl_underline }};
  cursor: pointer;
  border-radius: 0;
  margin: 3px 0 0 0;
}
*[knowl]:hover,
*[knowl].active {
  border-bottom: 2px solid {{ color.knowl_underline }};
  background: {{ color.knowl_hover }};
  color: {{ color.knowl_hyper_text }};
  margin: 0;
  padding: 3px 0 0 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

body.knowl #header {
    /*background: {{color.knowl_header_background}};*/
    background: {{color.header_background}};
}
body.knowl #header #title {
    color: {{color.knowl_title_text}};
}
body.knowl #content h1,
body.knowl #content h2,
body.knowl #content a {
  color: {{ color.knowl_hyper_text }};
}
body.knowl a:hover {
  background: {{ color.knowl_hover }};
}

div > *[knowl], 
p > *[knowl] {
  position: relative;
}

table .knowl a {
    padding: 0;
}

.knowl-error {
   color: {{color.knowl_error}};
   border-bottom: 0;
   text-decoration: underline;
}

.knowl-error a {
   font-size:60%;
   color: {{color.knowl_error}};
}

.knowl-output {
  background: {{ color.knowl_background }};
  border: 10px solid {{ color.knowl_border }};
  {{ BORDER_RADIUS(10) }}
  padding: 0px;
  display: none;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  text-align: left;
}

.knowl-output .knowl-output,
.knowl-output .knowl-output.loading {
 margin-left: 0;
 margin-right: 0;
}
.knowl-output.loading {
 color: {{color.grey}};
 font-style: italic;
 font-size: small;
}
div.limit-height {
  max-height: 500px;
  overflow-y: auto;
}
.knowl-output h1, 
.knowl-output h2 {
  margin: 5px 0;
}
.knowl-output h1 {
  color: {{ color.knowl_hyper_text }};
}
.knowl-output h2 {
  color: {{ color.knowl_hyper_text }};
}
.knowl-output a { display: inline; }

.knowl-footer {
  position: relative;
  bottom: -10px;
  line-height: 100%;
  background: {{ color.knowl_border }};
  font-size: x-small;
  color: {{ color.knowl_border_text }};
  padding: 1px 0 1px 10px;
  margin:  0 0 0 0;
}
.knowl-header {
  position: relative;
  top: -10px;
  line-height: 100%;
  background: {{ color.knowl_border }};
  font-size: x-small;
  color: {{color.grey}};
  padding: 1px 0 1px 10px;
  margin:  0 0 0 0;
}
.knowl-header a,
.knowl-footer a {
  font-family: var(--control-font-family);
  color: {{ color.knowl_border_links }};
}
.knowl-header a:hover,
.knowl-footer a:hover {
  background: none;
  color: {{ color.knowl_border_hover }};
}

/* end knowl */

/*** Dirichlet series, displayed in HTML ***/

.dirichletseries {
  font-family:"Times New Roman", Times, serif;
}

.dirichletseries em {
  font-style: italic;
}

.dirichletseries td {
  padding-left:0;
  padding-right:0;
}

/*
.dirichletseries td:first-child {
  padding-top:3px;
}
*/

.dirichletseries span.term {
  white-space: nowrap;
}

.dirichletseries sup {
/*  font-size: 75%;
*/
  font-style: italic;
  font-family: KaTeX_Math;
}

/**************** Tables for the Siegel corner ************************/

/** TODO these definitions are too broad. please make siegel a
 * blueprint (name is e.g. "siegel") and prefix all siegel
 * related definitions with body.siegel
 */
.box1 {
    margin: 20px 5px 20px 5px;
    padding: 1px;
    max-width: 800px;
    overflow: auto;
}

.small{
    font-size: 0.8em;
}

.error {
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 1px solid {{color.red}};
    color: {{color.red}};
    font-size: 120%;
}

/* TODO: where?*/
.enternumber
{
    border: 1px solid {{color.black}};
}

/* FIXME: I think we no longer use this */
.watermark {
    color: {{color.grey}} !important;
}


.propertylist {
  margin: 2em 0;
  padding: 0;
  border: 1px solid {{color.grey}};
}

.propertylist dt {
  font-weight: bold;
}

.propertylist dd {
  margin-bottom: 1em
}

a.navlink {
  color: {{color.a_nav_text}};
  background-color: {{color.a_nav_background}};
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: 1px solid {{color.a_nav_border}};
  outline: 1px solid {{color.a_nav_background}};
  text-decoration: none;
  margin-left: 1px;
  margin-top: 10px;
  vertical-align: top;
}

hr {
  border: 1px solid {{ color.hr_border }};
  margin: 15px 0;
}
/*TODO: above*/
body.knowl hr {
  border: 2px solid {{ color.knowl_border }};
}

/* jquery ui slider */
.slider {
  margin: 15px; 5px;
}

/********************* tables *****************************************/

/* TODO: where? do colors get used?*/
table.tablesorter {
    font-family:arial;
    background-color: {{color.light_grey_2}};
    margin:10px 0pt 15px;
    font-size: 0.55em;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, 
table.tablesorter tfoot tr th {
  background-color: {{color.col_main_ll}};/*TODO: or really light grey?*/
  border: 1px solid {{color.white}};
    font-size: 0.55em;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url("static/images/black-unsorted.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  padding-left: 4px;
  padding-right: 15px;
}
table.tablesorter tbody td {
    color: {{color.dark_grey}};
    padding: 4px;
    background-color: {{color.white}};
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:{{color.knowl_background}};
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("static/images/black-asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("static/images/black-desc.gif");
}
table.tablesorter thead tr .headerSortDown, 
table.tablesorter thead tr .headerSortUp {
    background-color: {{color.light_grey_2}};
}

.dataTables_wrapper {
    width: 557px;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid {{color.light_grey_3}};
    text-align: center;
    color: {{color.grey}};
    font-size: 1em;
    background-color: {{color.white}};
}

.dataTables_length {
    width: 100%;
    line-height: 40px;
}

.dataTables_filter {
    width: 100%;
    line-height: 40px;
}

.dataTables_info {
    width: 45%;
    float: left;
    margin: 5px;
}

.dataTables_paginate {
    width: 50%;
    * width: 50px;
    float: right;
    text-align: right;
    margin: 5px;
}

a.paginate_active {
    font-weight: bold;
    padding: 5px;
}

a.paginate_button {
    padding: 5px;
}

/* Pagination nested */
.paginate_disabled_previous, 
.paginate_enabled_previous, 
.paginate_disabled_next, 
.paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url('/static/images/back_disabled.jpg');
}

.paginate_enabled_previous {
    background-image: url('/static/images/back_enabled.jpg');
}

.paginate_disabled_next {
    background-image: url('/static/images/forward_disabled.jpg');
}

.paginate_enabled_next {
    background-image: url('/static/images/forward_enabled.jpg');
}

table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

table.display thead th {
    padding: 3px 18px 3px 10px;
    border-bottom: 1px solid {{color.black}};
    font-weight: bold;
    cursor: pointer;
    * cursor: hand;
}

table.display tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid {{color.black}};
    font-weight: bold;
}

table.display tr.heading2 td {
    border-bottom: 1px solid {{color.grey}};
}

table.display td {
    padding: 3px 10px;
}

table.display td.center {
    text-align: center;
}

.sorting_asc {
    background: url('/static/images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('/static/images/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('/static/images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('/static/images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('/static/images/sort_desc_disabled.png') no-repeat center right;
}




.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
}

.top, 
.bottom {
    padding: 52px 5px 5px;
    background-color: {{color.white_1}};
    border: 1px solid {{color.light_grey_4}};
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: {{color.dark_grey_1}};
}

tfoot input.search_init {
    color: {{color.grey}};
}

td.group {
    background-color: {{color.light_red_grey}};
    border-bottom: 2px solid {{color.red_grey}};
    border-top: 2px solid {{color.red_grey}};
}

td.details {
    background-color: {{color.light_red_grey}};
    border: 2px solid {{color.red_grey}};
}


.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid {{color.grey}};
    padding: 2px 5px;position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers span.paginate_button {
    background-color: {{color.light_grey_3}};
}

.paging_full_numbers span.paginate_button:hover {
    background-color: {{color.light_grey_4}};
}

.paging_full_numbers span.paginate_active {
    background-color: {{color.knowl_1}};
}

table.display tr.even.row_selected td {
    background-color: {{color.blue_grey}};
}

table.display tr.odd.row_selected td {
    background-color: {{color.blue_grey_1}};
}

tr.odd td.sorting_1 {
    background-color: {{color.knowl_l_1}};
}

tr.odd td.sorting_2 {
    background-color: {{color.knowl_l_2}};
}

tr.odd td.sorting_3 {
    background-color: {{color.knowl_l_3}};
}

tr.even td.sorting_1 {
    background-color: {{color.knowl_l_4}};
}

tr.even td.sorting_2 {
    background-color: {{color.knowl_l_5}};
}

tr.even td.sorting_3 {
    background-color: {{color.knowl_l_6}};
}



/* TODO: div? -> don't put global div properties*/
div.box {
    height: 100px;
    padding: 10px;
    overflow: auto;
    border: 1px solid {{color.knowl_thin_border}};
    background-color: {{color.knowl_background}};
}

div.codebox {
    margin: 2px;
    padding: 3px;
    /*text-padding: 10px;*/
    /*border: 1px solid #496;*/
    /*border-left-width: 5px;*/
    border-radius: 0px;
    /*background-color: #ddeedf;*/
    /*background-color: #eef5ee;*/
    /*background-color: {{color.knowl_background}};
    box-shadow: 3px 3px 3px {{color.knowl_shadow}};*/
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    white-space: pre;
}

/********************* Maass form plot ********************************/

div.maassformplot {
    position: absolute;
    width: 720px;
    position: relative;
    /*    height: 800px;
        overflow: hidden;
        position: relative; */
}

div.maassformplot img {
    width:100%;
    height:auto;
/*    position: absolute;
    top: -200px;
    left: -870px;*/
}

/* End of styling of Maass form plot */


/********************* table boxes (for front page) *******************/

/*TODO: rather floating divs for mobile support*/

#content div.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%; 
  padding: 0.7em;
  margin: 0px;
  margin-left: 1em;
  font-size: 1em;
}
#content div.boxes table.box {
  background: {{color.box_background}};
  max-width: 35em;
  padding: 0.7em;
  border-radius: 0px;
  font-size: 1em;
  margin-bottom: 2em;
}
#content div.boxes table.box td.img {
  background: {{color.box_background_img}};
  width: 10em;
  height: auto;
  border: 1em;
  padding-left: 0.3em;
  padding-bottom: 0em;
  padding-top: 0.3em;
  padding-right: 0.3em;
}
#content div.boxes table.box img {
  width: 100%;
  height: auto;
  border: 1em;
  padding: 0.3em;
}
  
table td.title {
  /*font-weight: bold;*/
  font-size: 130%;
  text-align: center;
  background: {{color.box_background_title}};
  height: 2em;
  padding: 0.3em;
  padding-left: 0.7em;
  border-top-right-radius: 0.7em;
}
table td.content {
  background: {{color.box_background_img}};
  font-size: 90%;
  padding-left: 1em;
  padding-bottom: 0.3em;
  vertical-align: top;
}
div.user {
  font-size: 90%;
  padding: 0px;
}
div.user ul li {
  line-height: 80%;
}
  
#content div.boxes table.box td.content ul.list {
  margin: 0;
  padding-left: 1em; padding-bottom: 0.3em;
  list-style-type: none;
  list-style-position: inside;
  line-height: 135%;
}

/* OLD:
@media only screen and (max-width: 1000px) {
  table.box img {
    max-width: 15vw;
    height: auto;
  }
}
*/

/*End table boxes front page*/

p.short {
  margin: 0;
}

.table-scroll-wrapper {
    overflow-y:auto;
}

.table-scroll-wrapper table {
    margin-right: 1px;
    margin-bottom: 1px;
    border-collapse: collapse;
}
.table-scroll-wrapper th {
    position: -webkit-sticky; top: 0;
    position: sticky; top: 0;
    z-index:1;
    background:{{color.table_ntdata_background_2}};
    background-clip: padding-box;
}
.cmf-dim-table th.level {
    padding-left: 80px;
}
th.weight-label {
    padding-left: 5px;
    padding-right: 0px;
}

div.table-scroll-wrapper thead tr {
    border-bottom: 0;
}
div.table-scroll-wrapper thead > tr:last-child > th {
    border-bottom: 2px solid {{ color.table_ntdata_border}};
}

.table-scroll-wrapper td.border-right, 
.table-scroll-wrapper th.border-right {
    border-right: 0; /* We need to put the border on td:after for scrolling */
}
.table-scroll-wrapper .border-right:after {
    content:'';
    position:absolute;
    right: 0;
    top: 0;
    height:100%;
    border-right: 2px solid {{ color.table_ntdata_border}};
}
.table-scroll-wrapper .sticky-col {
    position: -webkit-sticky; left: 0;
    position: sticky; left: 0;
    z-index:2;
    background-clip: padding-box;
}
.table-scroll-wrapper th.sticky-head {
    position: -webkit-sticky; left: 0; top: 0;
    position: sticky; left: 0; top: 0;
    z-index:3;
}
td.nowrap {
    white-space:nowrap;
}
table.ntdata td.nowrap a {
    display: inline;
}

.float-right {
    float:right;
}
.float-left {
    float:left;
}

#complex_embeddings {
    padding-top: 10px;
}

table.coeff_ring_basis {
    margin-left: 14px;
}

table.coeff_ring_basis td {
    vertical-align: top;
}

table.coeff_ring_basis td.LHS {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}
table.coeff_ring_basis td.eq {
    text-align: center;
    margin-right: 0;
    padding-right: 2px;
    margin-left: 0;
    padding-left: 2px;
}
table.coeff_ring_basis td.RHS {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

table.complex-cols td.real {
    font-family: MJX_Math;
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}
table.complex-cols td.imag {
    font-family: MJX_Math;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
td.op {
    font-family: MJX_Math;
    text-align: center;
    margin-right: 0;
    padding-right: 2px;
    margin-left: 0;
    padding-left: 2px;
}

table.ntdata td.embedding-wrap {
    margin: 0;
    padding: 0;
}
.table-scroll-wrapper table.sticky-embeddings {
    margin: 0;
    padding: 0;
    min-width: 55px;
}
table.sticky-embeddings td.vstrut {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

table.qexp-table td.fdef {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    vertical-align: top;
}
table.qexp-table td.op {
    vertical-align: top;
}

td.topspace {
    padding-top: 15px;
}
table.qexp-table td.output {
    margin-left: 0;
    padding-left: 0;
    vertical-align: top;
}

.mjx_basic {
    font-family: MJX_Math;
}

input::placeholder {
    color: #cccccc;
}

.table_rotate {
   /* see the word "Weight" on the left edge of the table in
        /ModularForm/GL2/Q/holomorphic/?search_type=Dimensions&dim=1
   */
  transform: rotate(180deg);

  writing-mode: vertical-lr;
  white-space: nowrap;
}

/* an horizonal list with bullet points */
ul.horizontal-list {
  display:inline-block;
  padding:0;
  margin: 0.5em;
  margin-block-start: 0;
}
ul.horizontal-list li {
  display: inline;
  white-space: nowrap;
}
ul.horizontal-list li:after {
  content:" ";
  letter-spacing:1em;
  background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}

input.color_selecter {
    margin: 10px;
}

/* the button to show advanced search options */
#advancedtoggle {
    margin-left: 20px;
}

/* the advanced search options themselves, hidden by default */
.advanced {
    display: none;
}





/********************* header (except navbar) *************************/


#header {
  background: {{color.header_background}};
  margin: 0px;
  padding: 0px;
  /%box-shadow: 0px 5px 5px {{color.header_shadow}};%/
}

body.knowl #header {
  background: {{color.header_background}};
  /*background: {{ color.knowl_l }};
  box-shadow: 0px 5px 5px {{color.knowl_shadow}};
  */
}

#header .right {
    margin-top: 0px;
    display: inline-block;
    padding-left: 48px;
    vertical-align: top;
    width: calc(100% - 210px);
}
#header #title {
    font-size: 220%;
    font-weight: normal;
    font-family: var(--main-font-family);
    padding: 25px 30px 10px 30px;
    color: {{color.header_text_title}};
}

#header #title .katex{
    font-weight: normal !important;
}

#header .bread, 
#header .nav-user {
    font-family: var(--control-font-family);
    /*font-family: var(--main-font-family);*/
    font-size: 80%;
    display: inline-block;
}

#header .bread a:first-child {
    font-size: 150%;
}

#header .bread a, 
#header .nav-user a {
    color: {{color.bread_links}};
}

#header .topright {
  text-align: right;
  white-space:nowrap;
  font-family: var(--main-font-family);
  font-size: 90%;
  padding-top: 8px;
  padding-right: 5px;
  display: inline-block;
  float: right;
  clear: both;
  color: {{color.header_text_topright}};
}
#header .topright a {
    color: {{color.header_text_topright}};
}
#header .topright #communication-wrapper {
  display: none;
  padding: 4px;
}
#header .undertopright {
  text-align: right;
  white-space:nowrap;
  font-family: var(--main-font-family);
  float: right;
  color: {{color.header_text_topright}};
}
#header .undertopright a {
    color: {{color.header_text_topright}};
}
#header .undertopright:first-child {
    margin-top: 0;
}

#header #navi {
  white-space: nowrap;
  text-align: right;
  color: {{color.header_navi_text}};
  font-family: var(--main-font-family);
  font-size: 90%;
  padding: 2px 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}




/********************* navbar (menu at top) ***************************/

/* Navbar container */
#navbar {
  /*font-size: 0px;*/
  font-size: 90%;
  /*width: 100%;*/
  /*position: fixed;
  width = 100%;*/
  /*overflow: hidden;*/
  background: #fff;
  padding: 0px;
  margin: 0px 0px 0.7rem 0px;
  box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
  z-index: 1000000;
}

#navbar .flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

#navbar a,
#navbar div {
  font-family: var(--control-font-family);
}

/* Links in header of navbar */
#navbar a.heading {
  font-size: 1em;
  color: #333;
  text-align: center;
  /*padding: 5px 5px;*/
  text-decoration: none;
}
.logo a, 
.logo a:hover, 
body.knowl .logo a:hover {
  background: none;
}
#navbar .logo {
  float: left;
  display: inline-block;
  /*display: none;*/
  padding: 0;
  margin: 0;
  outline: none;
}
#navbar .logo a {
  /*float: left;*/
  /*float: none;*/
  font-size: 1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  /*padding: 5px 0px 5px 0px;
  margin: 0px 15px 0px 0px;*/
  vertical-align: middle;
  text-decoration: none;
}
#navbar .logo img {
  max-height: 1.8em;
  /*padding-top: 5px;*/
  padding: 0.6em 0.7em 0.6em 0em;
  margin: 0;
  /*margin: 15px 10px 10px 0px;*/
}

/* The dropdown container */
#navbar .dropdown {
  /*font-size: 1em;*/
  display: inline-block;
  position: relative;
  /*margin: 0px;*/
  padding: 0px;
  /*border: 1px solid black;*/ /*debug*/
  /*outline: none;*/
/*  display: inline; 
  float: left;
  overflow: hidden;
*/}

/* Dropdown button */
#navbar .dropbtn {
  font-size: 1em;
  /*float: left;*/
  border: none;
  border-radius: 0;
  outline: none;
  color: #555;
  padding: 1em 0.7em 1em 0.7em;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /*margin: 0;  Important for vertical align on mobile phones */
}

#navbar a.heading,
#navbar div.heading {
  /*font-size: 1em;*/
}

/* Add a background color to navbar links on hover */
#navbar a.heading:hover,
#navbar .dropbtn:hover,
#navbar .dropdown-content a:hover {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
#navbar .dropdown-content {
  font-size: {% if BETA %} 0.9em; {% else %} 1em; {% endif %} /* will scale the whole dropdown-content */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  z-index: 1000;
  /*top      : 100%;*/
  white-space: nowrap;
}

#navbar div.dropdown-content-right-to-left {
  left: auto;
  right: 0;
}
#navbar div.dropdown-content-left-to-right {
  left: 0;
  right: auto;
}

/* Links inside the dropdown */
#navbar .dropdown-content .part {
  float: none;
  color: black;
  padding: 0.8em 1.2em;
  text-decoration: none;
  display: block;
  text-align: left;
}

#navbar .dropdown-content .entry {
  float: none;
  color: black;
  padding: 0.8em 1.2em;
  text-decoration: none;
  display: block;
  text-align: center;
}


#navbar .dropdown-content table.link-bar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} 

#navbar .dropdown-content .link-bar td {
  padding: 0px;
  width: auto;
  align: center;
}

#navbar .dropdown-content .group-title {
  font-size: 70%;
  color: #777;
  text-align: right;
  padding-right: 0.4em;
  /*color: #fff;
  background-color: #777; 
  text-align: center;*/
  border-bottom: 1px solid #ddd;
}

#navbar .dropdown-content .link-bar-title {
  font-size: 85%;
  color: #555;
  text-align: center;
  padding: 0.2em 1em 0em 1em;
  /*padding-right: 2px;*/
  /*color: #fff;
  background-color: #777; 
  text-align: center;*/
  border-bottom: 1px solid #ddd;
}


#navbar .future {
  /*display: none !important;*/ /* toggle this to show/hide the future */
  color: #aaa !important;
}

#navbar button.dropbtn.beta {
  border-top: 5px solid #a84;
  padding-top: 10px;
  /*background-color: #dcb;*/
}
#navbar .dropdown-content .beta {
  border-right: 5px solid #a84;
}

#navbar .tall-entries a, 
#navbar .tall-entries div {
  padding-top: 1.3em !important;
  padding-bottom: 1.3em !important;
}

@media only screen and (min-width: 1100px) {
  /**** Fix navbar on top: ****/
  #navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
     width: 100%;
    z-index: 1000000;
    overflow: visible; /* To make the dropdown menus visible */
  }
  #header {
    margin-top: 3.85rem; /* space for navbar */
  }
}

@media (hover: hover) {
  .no-hover-available {
    display: none !important;
  }
  #navbar .dropdown:hover .dropdown-content {
    display: block;
  } 
}

@media not (hover: hover) {
  .hover-available {
    display: none !important;
  }
}

/*
@media only screen and (max-width: 800px) {
  :root,
  body {
    font-size: 2vw;
  }
}
*/

@media only screen and (max-width: 600px) {
  :root,
  body {
    font-size: 3vw;
  }
}

/********************* footer *****************************************/

#footer {
    clear: both;
    margin-top: 0;
    background-color: {{color.footer_background}};
    /*border-top: 2px solid {{ color.footer_border }}; */
    padding: 1.7em 0.7em;
    text-align: center;
    font-size: 75%;
    font-family: var(--control-font-family);
    line-height: 1.8;
    color: #bbb; /*{{color.footer_text}};*/
}

#footer a,
#footer div {
    font-family: var(--control-font-family);
}

#footer-data-credit {
    width: 100%;
    font-size: 75%;
    text-align: center;
    margin-top: 3.3em;
    margin-bottom: 2em; 
}

#footer .box-text {
    display: inline-block;
    background-color: inherit;
    width: 25em;
    margin: 1.3em 3.3em 1.3em 1.3em;
    border-style: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
#footer .box-links {
    display: inline-block;
    background-color: inherit;
    width: 10em;
    margin: 1.3em 3.3em 1.3em 3.3em;
    border-style: none;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer a {
    color: #fff; /*{{color.footer_link}};*/
}

#footer a:hover {
    color: #fff; /*{{color.footer_link}};*/
    background-color: #666;
}

#footer-data-credit-hr {
    width: 7em;
    border-top: 1px solid #888;
    margin: 0 auto 1.3em auto;
}


/********** Mobile friendly content ***********************************/

/* Automatic horizontal scrollbars if content is too long for outer container */
.horizontal-scroller {
  white-space: normal;
  /*display: block;*/
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden; /* for IE8 */
  margin: 0;
  padding: 0;
}

/* Automatic horizontal scrollbar, no white space wrapping allowed for content */
.horizontal-scroller-nowrap {
  white-space: nowrap;
  /*display: block;*/
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden; /* for IE8 */
  margin: 0;
  padding: 0;
}


#content p.no-wrap {
  white-space: nowrap !important;
  display: block;
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden; /* for IE8 */
}


@media only screen and (max-width: 600px) {
  #content > p,
  #content > table.ntdata,
  #content > table.number_table,
  #content .embed-container,
  #content .katex-display {
    display: block;
    max-width: 100%;
    overflow: auto !important;
    overflow-y: hidden;
    -ms-overflow-y: hidden; /* for IE8 */
  }

  #properties {
    z-index: 0;
    font-size: 85%;
    font-family: var(--main-font-family);
    float: none;
    display: block;
    margin: 0.3em 0px 0.3em 1em;
    position: relative;
    border: 1px solid {{color.properties_border}};
    border: 0;
    padding: 0;
  }

}


/************** Grid layout with 12 columns ***************************/

 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 

@media only screen and (min-width: 1024px) {
  /* For large desktop: */
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
} 
